
.gs-container{
    max-width: 600px;
    height: 600px;
    margin: 0 auto;
}

.gs-hard{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.gs-medium{
    width: calc(100% / 8);
    height: calc(100% / 8); 
}

.gs-easy{
    width: calc(100% / 10);
    height: calc(100% / 10); 
}